<div class="begin-page">
  <section>
    <div class="form-content text-center">
      <div style="width: 100%;">
        <h3>Elija un rango en el cual se encuentra su salario</h3>
      </div>
      <select [(ngModel)]="seleccion"  >
        <option *ngFor="let option of optionRes" [ngValue]="option">{{ option }}</option>
      </select>
      <br>
      <input class="btn border button mt-2" type="button" (click)="verificar()" value="Validar Respuesta" />
    </div>
  </section>
</div>