<div class="begin-page">
  <section>
    <div class="form-content text-center">
      <div class="alert alert-success" *ngIf="status == 'success'">
        <i class="fa fa-check-circle"></i> Registro completado correctamente, <a [routerLink]="['/login']">identificate aquí</a>
      </div>
      <div class="alert alert-danger" *ngIf="status == 'error'">
        <i class="fa fa-times-circle"></i> No te has registrado correctamente
      </div>
      <form #formCoxti="ngForm" (ngSubmit)="onSubmit(); formCoxti.reset();">
        <div class="form-content text-center">
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="cedula"
              #cedula="ngModel"
              [(ngModel)]="user.id"
              placeholder="Documento de identidad"
              required
            />
            <span *ngIf="!cedula.valid && cedula.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="name"
              #name="ngModel"
              [(ngModel)]="user.nombre"
              placeholder="Nombre completo"
              required
            />
            <span *ngIf="!name.valid && name.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="celular"
              #celular="ngModel"
              [(ngModel)]="user.celular"
              placeholder="Numero Celular"
              required
            />
            <span *ngIf="!celular.valid && celular.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="email"
              class="input-underline input-lg"
              style="width: 280px;"
              name="correo"
              #correo="ngModel"
              [(ngModel)]="user.correo"
              placeholder="Correo Electrónico"
              required
            />
            <span *ngIf="!correo.valid && correo.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="password"
              class="input-underline input-lg"
              style="width: 280px;"
              name="password"
              #password="ngModel"
              [(ngModel)]="user.password"
              placeholder="password de usuario"
              required
            >
            <span *ngIf="!password.valid && password.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="departamento"
              #departamento="ngModel"
              [(ngModel)]="user.departamento"
              placeholder="Departamento"
              required
            />
            <span *ngIf="!departamento.valid && departamento.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="ciudad"
              #ciudad="ngModel"
              [(ngModel)]="user.ciudad"
              placeholder="Ciudad"
              required
            />
            <span *ngIf="!ciudad.valid && ciudad.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="barrio"
              #barrio="ngModel"
              [(ngModel)]="user.barrio"
              placeholder="Barrio"
              required
            />
            <span *ngIf="!barrio.valid && barrio.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="direccion"
              #direccion="ngModel"
              [(ngModel)]="user.direccion"
              placeholder="Direccion"
              required
            />
            <span *ngIf="!direccion.valid && direccion.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="salario"
              #salario="ngModel"
              [(ngModel)]="user.salario"
              placeholder="Digite su Salario"
              required
            />
            <span *ngIf="!salario.valid && salario.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="otrosingresos"
              #otrosingresos="ngModel"
              [(ngModel)]="user.otrosingresos"
              placeholder="Valor de Otros Ingresos"
              required
            />
            <span *ngIf="!otrosingresos.valid && otrosingresos.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="gastosmensuales"
              #gastosmensuales="ngModel"
              [(ngModel)]="user.gastosmensuales"
              placeholder="Valor Gastos Mensuales"
              required
            />
            <span *ngIf="!gastosmensuales.valid && gastosmensuales.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              class="input-underline input-lg"
              style="width: 280px;"
              name="gastosfinancieros"
              #gastosfinancieros="ngModel"
              [(ngModel)]="user.gastosfinancieros"
              placeholder="Valor Gastos Financieros"
              required
            />
            <span *ngIf="!gastosfinancieros.valid && gastosfinancieros.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <input class="btn border button" type="button" (click)="validarData()" value="Crear cuenta" [disabled]="!formCoxti.form.valid" />
        </div>
      </form>
    </div>
  </section>
</div>