<!--The content below is only a placeholder and can be replaced.-->
<div class="begin-page">
  <div class="container">
    <h1 class="text-center">
      {{ title }}
    </h1>
    <div>
      <a [routerLink]="['/register']">REGISTRATE AQUI</a>
      <br>
      <a [routerLink]="['/login']">INICIA SESION</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
