<div class="begin-page">
  <section>
    <div class="form-content text-center">
      <div class="alert alert-success" *ngIf="status == 'success'">
        <i class="fa fa-check-circle"></i> Registro completado correctamente, <a [routerLink]="['/login']">identificate aquí</a>
      </div>
      <div class="alert alert-danger" *ngIf="status == 'error'">
        <i class="fa fa-times-circle"></i> No te has registrado correctamente
      </div>
      <form #formCoxti="ngForm" (ngSubmit)="onSubmit(); formCoxti.reset();">
        <div class="form-content">
          <div class="form-group">
            <input
              type="email"
              class="input-underline input-lg"
              style="width: 280px;"
              name="correo"
              #correo="ngModel"
              [(ngModel)]="user.correo"
              placeholder="Correo Electrónico"
              required
            />
            <span *ngIf="!correo.valid && correo.touched" class="label label-danger">Ingrese un Correo Electrónico valido</span>
          </div>
          <br>
          <div class="form-group">
            <input
              type="password"
              class="input-underline input-lg"
              style="width: 280px;"
              name="password"
              #password="ngModel"
              [(ngModel)]="user.password"
              placeholder="password de usuario"
              required
            >
            <span *ngIf="!password.valid && password.touched" class="label label-danger">Este campo es obligatorio</span>
          </div>
          <br>
          <input class="btn border button" type="button" (click)="login()" value="Iniciar sesion" [disabled]="!formCoxti.form.valid" />
        </div>
      </form>
    </div>
  </section>
</div>